* {
    margin: 0;
}

#crearProducto {
    /* background-image: url('/dev/img/crear_producto_figma.png'); */
    background-size: cover;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 250px;
    margin: auto;
    padding: 20px;
}


#categoria {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    width: 255px;
    height: 38px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 30px 0 10px;
    position: relative;
}

#descripcion {
    margin-top: 10px;
    height: 70px;
}

.fotos_producto_crear {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
    position: relative;
}

.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 180px;
    margin-bottom: 15px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

}

#flecha_izquierda_crear,
#flecha_derecha_crear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#flecha_izquierda_crear {
    left: -20;
}

#flecha_derecha_crear {
    right: -20;
}

.foto_producto_crear {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 160px;
    width: 250px;
    display: block;
}


.seleccionado {
    background-color: black;
}


.btn {
    height: 40px;
    width: 100%;
    margin: 22px 35px;
    border-radius: 30px;
    font-size: 20px;
    background-color: rgb(219, 219, 219);
}


.subir-foto {
    position: absolute;
    width: 28px;
    top: 0.5px;
    left: 223px;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    cursor: pointer;
}

.editar-foto {
    position: absolute;
    width: 28px;
    top: 0.5px;
    right: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    cursor: pointer;
}

.delete {
    position: absolute;
    width: 25px;
    left: 290px;
    cursor: pointer;
}