h1{
    margin-top: 42px;
    margin-bottom: 32px;
}


.inicio-box {
    height: 568px;
    width: 320px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-image: url('/dev/img/inicio_figma.png');
    background-size: cover;
}

.inicio-box button {
    width: 250px;
    height: 40px;
    border-radius: 16px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#boton-vendedor{
    margin-bottom: 31px;
    background-color: #28E0E8;
}

#boton-comprador{
    background-color: #18BF13;
    margin-bottom: 56px;
}



#logo-inicio{
    background-image: url('/dev/img/logo.png');
    background-size: cover;
    background-position: center;
    margin-top: 80px;
    margin-bottom: 42px; 
    width: 222px;
    height: 138.76px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
}


