.imagen-perfil {
    height: 275px;
    margin: 0;
}

.formulario {
    flex-direction: column;
}

.botones-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 35px;
    box-sizing: border-box;
    margin-top: 5px;
}