#inicio{
    background-image: url('/dev/img/inicio_figma.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    
}

#imagen{
    position: absolute;
    background-color: red;
    width: 222px;
    height: 138.76px;
    border-radius: 9px;
    left: 50px;
    right: 50px;
    top: 92px;
    display: flex;
    justify-content: center;
}

#bienvenido{
    position: absolute; 
    top:273px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Inter ';
}