* {
    margin: 0;
}
    
.seccion {
    height: 568px;
    width: 320px;
    border: 1px solid black;
}
    
.ocultar {
    display: none;
}
    
.navbar{
    height: 45px;
    background-color: black;
}