@import 'fuentes', 'inicio', 'home', 'login', 'register', 'producto_compra', 'perfil';

* {
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion {
    height: 568px;
    width: 320px;
    border: 1px solid black;

}

.ocultar {
    display: none;
}

.navbar {
    height: 35px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flecha_atras {
    position: absolute;
    left: 5px;
}


.general_btn {
    height: 40px;
    width: 100%;
    margin: 0 35px;
    border-radius: 15px;
    font-size: 20px;
    background-color: transparent;
}